@import url('https://fonts.googleapis.com/css2? family= Comfortaa:wght@300;400;500 & family= DM+Mono:ital,wght@0,300;0,500;1,500 & family= DynaPuff:wght@400;500;600;700 & family= Pridi:wght@300;400;500;600 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(
        90deg,
        rgb(4, 68, 7)0%,
        rgb(19, 152, 209)51%,
        rgb(118, 196, 238)100%
    )
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    min-height: 75vh;
    align-items: center;
}

.menu {
    position: absolute ;
    top:0 ;
    left:0 ;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu-logo {
    color: azure;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu-navbar ul li {
    position: relative;
    float: left;
}

.menu.navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: blanchedalmond;
    display: block;
}

.menu.navbar ul li a:hover {
    color: rgb(241, 245, 245);
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu-label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    align-items: center;
}


.header-txt {
    width: 50%;
}

.header-txt h1 {
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(173, 171, 171);
    text-transform: uppercase;
    margin-bottom: 25px;
}

.hedaer-txt span{
    font-size: 40px;
    color: azure;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: 16px;
    color: rgb(247, 243, 243);
    margin-bottom: 35px;
}

.btn-1 {
    display: flex;
    color: rgb(110, 12, 106);
    padding: 13px 30px;
    background-color: rgb(240, 150, 16);
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-1:hover {
    background-color: rgb(30, 199, 221);
}

.header-img {
    width: 50%;
}

.header-img img {
    width: 700px;
}

.services {
    display: flex;
    justify-content: space-between;
    padding: 0 0 50px 0;
}

.services-1 {
    text-align: center;
    padding: 35px;
    margin: 0 10px;
}

.services-1 img {
    width: 205px;
    height: 205px;
    margin-bottom: 15px;
}

.services-1 h3 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
    margin-bottom: 15px;
}

.info {
    padding: 50px 0;
    display: flex;
}

.info-1 {
    width: 50%;
}

.info-img {
    width: 50px;
}

.info-2 {
    width: 50%;
}

.h2 {
    font-size: 70px;
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}

.servicios {
    padding: 0 0 100px 0;
    text-align: center;
}

.servicios-content {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.sercios-1 {
    padding: 35px;
    text-align: center;
}

.sercios-1 img {
    width: 250px;
}

.servicios-1 h3 {
    font-size: 22px;
    color: rgb(219, 33, 33);
    margin-bottom: 15px;
}

.btn-2 {
    display: flex;
    color: black;
    padding: 10px 20px;
    background-color: rgb(247, 18, 235);
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-2:hover {
    background-color: rgb(228, 140, 223);
}

.footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ffffff;
}

.link h3{
 color: antiquewhite;
 font-size: 18px; 
 margin-bottom: 15px;  
}

.link a {
    display: flex;
    font-size: 16px;
    color: beige;
    margin-bottom: 10px;
}

.link a:hover {
    color: rgb(90, 94, 92);
}

@media (max-width: 991px) {

      .menu {
        padding: 20px;
      }
   
   .menu label {
    display: initial;
   }

   .menu .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: azure;
      display: none;
   }

    .menu .navbar ul li {
        width: 100%;
    }
     
    .menu .navbar ul li a {
        color: black;
    }

    .menu .navbar ul li a:hover {
        color: #515151;
    }

    .menu:checked ~ .navbar {
      display: initial;  
    }

    .header-content {
        flex-direction: column;
        padding: 100px 30px 0 30px;
    
    }

    .header-txt {
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
    }

    .header-txt h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .header-img {
       width: 100%; 
       text-align: center;
    }

    .header-img img {
       width: 300px; 
    }

    .services {
        flex-direction: column;
        padding: 0 30px 0 30px;
    }

    .h2 {
       font-size: 40px; 
    }

    .info {
        flex-direction: column;
        padding: 0 30px 0 30px;
    }

    .info-1 {
        text-align: center;
        width: 100%;
        order: 2;
    }

    .info-1 img {
        width: 250px;
    }
   
    .info-2 {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;

    }

    .services-content {
     margin-top: 15px;  
      grid-template-columns: repeat(1,1fr);
    }

    .footer {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }


}
    